.project-blurb {
	h3 {
		margin-bottom: 0;
	}
	.last {
		padding-bottom: 1.8rem;
	}
	img {
		margin: 1rem 0;
	}
}

.uic {
	color: #0a84ff;
}

.lambda {
	color: #ff453a;
}

.at {
	color: #5ac8fa;
	&:hover {
		color: #ff5f1f;
	}
}
